@model List<Product>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            Products
        </h5>
        <a asp-action="Add" class="btn btn-primary">
            Add
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    SN
                </th>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            @{
                var sn = 1;
                foreach (var product in Model)
                {
                    <tr>
                        <td>
                            @(sn++)
                        </td>
                        <td>
                            <img src="/uploads/uploads/@product.Image" class="img img-thumbnail" style="width: 50px" />
                        </td>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Description
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>